[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flake8 = "*"
autopep8 = "*"
nose = "*"
selenium = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "flake8 ."
fix = "autopep8 -ivr ."
test = "nosetests -v"
web-health = "python investment_local_horse_racing_trader/vote.py"
web-vote = "python investment_local_horse_racing_trader/vote.py"
